body{
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    width: 1180px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;

}
.header-nav a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #443737;
}
.header-nav a:hover{
    color:#FFC725 ;
}
.header-nav a::after{
    content:'';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after{
    background: #FFC725;
}
.button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item{
    position: relative;
} 
.button-text{
    font-weight: 700;
    font-size: 15px;
    color: #443737;
}
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 5px;
    right: -5px;
    
}
.bg{
    text-align: center;
    color: #FFFFFF;
    background-image:url(../images/bg.jpg);
    background-size: cover;
    padding: 142px 0;
    background-position: center center;
    margin-bottom: 140px;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover{
    color:#FFC725;
}
.breadcrumbs a::before{
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before{
    display: none;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.description{
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 1.6;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box{
    color: #FFFFFF;
    background-image: url(../images/banner.jpg);
    padding: 100px 727px 100px 100px;
    max-height: 438px;
}
.banner-title span{
    background-color: #F37335;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 14px;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 19px;
    display: table;
}
.banner-title{
    font-weight: 900;
    font-size: 60px;
    line-height: 83px;
    margin-top: 0px;
    margin-bottom: 6px;
}
.banner-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    max-width: 310px;
    margin-top: 0px;   
    margin-bottom: 35px;
}
.banner-link{
    background-color: #FBB731;
    padding: 20px 25px;
    border-radius: 5px;
}
.banner-box a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1E2F40;
}
